body {
    background-color: #f8f9fa;
    background: url('assets\images\bg\banner-bg-1.jpg');
    background-size: cover;
}
.auth {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.auth-form-light {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}